@font-face{
    font-family: "Digital-7";
    src: url("../../assets/font-styles/digital-7.regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-app-region: drag;
}

body{
    background: #555; 
}


/* Screen container */

#screen{
    
    overflow: auto;
    height: 30vh;
    background: #C9D9C8;
}

.value{
    font-family: "Digital-7";
    float: right;
    font-size: 30vh;
    
}

/* Buttons Container */

#buttons{
    height: 70vh;
}

.row{
    display: flex;
    height: 20%;
}

/* Individual buttons */

.btn{
    width: 25vw;
    font-weight: 700;
    font-size: 20px;
    margin: 1px;
    color: #333;
}

.btn:first-child{
    margin-left: 0;
}

.btn:last-child{
    margin-right: 0;
}

.btn:hover{
    background:#CC474B;
    color: white;
}

.btn:focus{
    outline: none;
}

.num{
    background: floralwhite;
}

.ops{
    background: #DFE1E5;
}
.equal{
    background: #EDA746;
}